<html>
<head>
  <title>Device serials report</title>
</head>
<body>
  <h1>Device serials report</h1>
  <table>
    <tr><th>Device serials</th></tr>
{% for host,facts in hostvars|dictsort %}
    <tr><td>{{facts.inventory_hostname}}</td><td>{{facts.ansible_net_serialnum}}</td></tr>
{% endfor %}
  </table>
</body>
