{#} This template will recap the domain configuration for each device.
And will perform a check of the values to give a compliance result OK or KO
exemple:
Host: R1, domain correctly configured, OK
Host: R2, domain not configured, KO
{#}
# domain Compliance report:
# ------------------------
{% for host,facts in hostvars|dictsort %}
Host: {{host}},{% if not facts.log_result.failed  %} domain configured, OK{% else %} domain not configured correctly, KO{% endif %}

{% endfor %}
