Output from SHOW ARP
====================
{{ results.stdout[0] }}

Legend and first ARP entry
====================================
{{ results.stdout_lines[0][0] }}
{{ results.stdout_lines[0][1] }}

results.stdout
==============
{{ results.stdout[0] }}

results.stdout_lines
====================
{{ results.stdout_lines[0] }}
